<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pig Latinizer!</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>
    <form method="POST" action="/piglatinize">
      <h2>Enter your phrase:</h2><input type="text" name="user_phrase" style="width:300px;border:1px solid black;"><br>
      <input type="submit" class="Submit">
    </form>
  
  </body>
</html>